<div class="social">
  {{ with $.Site.Params.social.instagram }}
  <a href="{{ . }}" target="_blank" rel="noreferrer noopener">
    <i class="fab fa-instagram"></i>
  </a>
  {{ end }} {{ with $.Site.Params.social.etsy }}
  <a href="{{ . }}" target="_blank" rel="noreferrer noopener">
    <i class="fab fa-etsy"></i>
  </a>
  {{ end }} {{ with $.Site.Params.social.pinterest }}
  <a href="{{ . }}" target="_blank" rel="noreferrer noopener">
    <i class="fab fa-pinterest"></i>
  </a>
  {{ end }}
</div>
